#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Line_1 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Line_1 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_81 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}