#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_bottom {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Ulevaade {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Ulevaade_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Ulevaade_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Ulevaade_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Ulevaade_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-74feddf2-877d-47cd-bd21-083397957efa #m-74feddf2-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-74feddf2-877d-47cd-bd21-083397957efa #m-74feddf2-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-74feddf2-877d-47cd-bd21-083397957efa #m-74feddf2-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-74feddf2-877d-47cd-bd21-083397957efa #m-74feddf2-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4b9c69cd-78f5-4976-b51a-380255a64bdc #m-4b9c69cd-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0b2e1450-4fb7-47ed-8c58-b574daeae432 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}