#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(22,22,22,0.15);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(22,22,22,0.15);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(22,22,22,0.15);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(22,22,22,0.15);
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(22,22,22,0.15);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(22,22,22,0.15);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(22,22,22,0.15);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(22,22,22,0.15);
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(22,22,22,0.15);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(22,22,22,0.15);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(22,22,22,0.15);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(22,22,22,0.15);
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(22,22,22,0.15);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(22,22,22,0.15);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(22,22,22,0.15);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(22,22,22,0.15);
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(22,22,22,0.15);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(22,22,22,0.15);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(22,22,22,0.15);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(22,22,22,0.15);
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}