#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_bottom {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Ulevaade {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Ulevaade_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Ulevaade_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Ulevaade_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Ulevaade_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-74feddf2-877d-47cd-bd21-083397957efa #m-74feddf2-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-74feddf2-877d-47cd-bd21-083397957efa #m-74feddf2-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-74feddf2-877d-47cd-bd21-083397957efa #m-74feddf2-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-74feddf2-877d-47cd-bd21-083397957efa #m-74feddf2-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4b9c69cd-78f5-4976-b51a-380255a64bdc #m-4b9c69cd-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-25c14566-d41b-46d1-9d0c-c76c99e98aab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}