#s-96ba8cec-2293-485b-a71a-cb6864741780 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 667px;
  width: 100%;
  height: 100%;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Master_item_1 div.offset {
  position: absolute;
  top: -615px;
  left: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Master_item_1 {
  position: absolute;
  width: 375px;
  height: 52px;
  overflow: visible;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Calibri Light',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_1 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_1 span {
  color: #161616;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri Light',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #161616;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri Light',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Panel_1 {
  width: 375px;
  height: 474px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 375px;
  height: 474px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Group_5 {
  position: absolute;
  width: 350px;
  height: 337px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_29 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_29 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Calibri',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_29 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_29 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_29 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_29 span#rtr-s-Text_29_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_1 {
  position: absolute;
  width: 350px;
  height: 204px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_1 > img, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_1 > svg {
  height: 204px;
  width: 350px;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Group_2 {
  position: absolute;
  width: 42px;
  height: 39px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_10 {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_10 > img, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_10 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_30 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_30 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Calibri',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_30 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_30 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_30 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_30 span#rtr-s-Text_30_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Group_3 {
  position: absolute;
  width: 35px;
  height: 41px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_11 {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_11 > img, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_11 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_31 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_31 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Calibri',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_31 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_31 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_31 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_31 span#rtr-s-Text_31_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Group_4 {
  position: absolute;
  width: 26px;
  height: 41px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_12 {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_12 > img, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_12 > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_32 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_32 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Calibri',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_32 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_32 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_32 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_3 {
  position: absolute;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_3 > img, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_3 > svg {
  height: 35px;
  width: 35px;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_33 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_33 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Calibri',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_33 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_33 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_33 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_34 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_34 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Calibri',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_34 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_34 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_34 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_34 span#rtr-s-Text_34_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_35 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_35 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Calibri',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_35 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_35 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_35 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_35 span#rtr-s-Text_35_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_39 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_39 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Calibri',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_39 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_39 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_39 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_39 span#rtr-s-Text_39_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_36 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_36 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Calibri',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_36 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_36 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_36 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_36 span#rtr-s-Text_36_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_37 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_37 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Calibri',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_37 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_37 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_37 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_37 span#rtr-s-Text_37_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_38 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_38 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Calibri',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_38 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_38 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_38 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_38 span#rtr-s-Text_38_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Group_1 {
  position: absolute;
  width: 320px;
  height: 53px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_26 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_26 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Calibri',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_26 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_26 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_26 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Group_9 {
  position: absolute;
  width: 320px;
  height: 30px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #7FD52C;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Rectangle_1 {
  position: absolute;
  width: 320px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Rectangle_1 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Rectangle_1 > .paddingLayer {
  height: 28px;
  width: 318px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #E34D4C;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Rectangle_2 {
  position: absolute;
  width: 286px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Rectangle_2 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Rectangle_2 > .paddingLayer {
  height: 28px;
  width: 284px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_27 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_27 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Calibri',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_27 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_27 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_27 span {
  color: #161616;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_27 span#rtr-s-Text_27_0 {
  color: #161616;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #shapewrapper-s-Line_1 marker {
  fill: #A9A9A9;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 336px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Line_1 {
  width: 336px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #shapewrapper-s-Line_2 marker {
  fill: #A9A9A9;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 336px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Line_2 {
  width: 336px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_28 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_28 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Calibri',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_28 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_28 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_28 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_28 span#rtr-s-Text_28_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Master_item_2 div.offset {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Master_item_2 {
  position: absolute;
  width: 372px;
  height: 19px;
  overflow: visible;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Group_6 {
  position: absolute;
  width: 127px;
  height: 30px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_4 {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_4 > img, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Image_4 > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_40 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_40 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Calibri',Arial;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_40 > .clipping, #s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_40 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_40 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Text_40 span#rtr-s-Text_40_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Master_item_3 div.offset {
  position: absolute;
  top: -25px;
  left: -332px;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 #s-Master_item_3 {
  position: absolute;
  width: 34px;
  height: 36px;
  overflow: visible;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-96ba8cec-2293-485b-a71a-cb6864741780 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}