#s-bbd6b217-90d1-4513-8b00-32004c380b35 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bbd6b217-90d1-4513-8b00-32004c380b35 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bbd6b217-90d1-4513-8b00-32004c380b35 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bbd6b217-90d1-4513-8b00-32004c380b35 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-bbd6b217-90d1-4513-8b00-32004c380b35 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-bbd6b217-90d1-4513-8b00-32004c380b35 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bbd6b217-90d1-4513-8b00-32004c380b35 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bbd6b217-90d1-4513-8b00-32004c380b35 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-bbd6b217-90d1-4513-8b00-32004c380b35 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bbd6b217-90d1-4513-8b00-32004c380b35 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bbd6b217-90d1-4513-8b00-32004c380b35 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bbd6b217-90d1-4513-8b00-32004c380b35 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bbd6b217-90d1-4513-8b00-32004c380b35 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bbd6b217-90d1-4513-8b00-32004c380b35 #s-Line_2 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(270.0deg);
}
#s-bbd6b217-90d1-4513-8b00-32004c380b35 #s-Line_2 {
  stroke-width: 1px;
  stroke: #A9A9A9;
  -ms-transform: rotate(270.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bbd6b217-90d1-4513-8b00-32004c380b35 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}