#m-4b9c69cd-78f5-4976-b51a-380255a64bdc #m-4b9c69cd-Menu {
  -ms-transform: rotate(0.0deg);
}
#m-4b9c69cd-78f5-4976-b51a-380255a64bdc.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}