#m-74feddf2-877d-47cd-bd21-083397957efa #m-74feddf2-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-74feddf2-877d-47cd-bd21-083397957efa #m-74feddf2-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-74feddf2-877d-47cd-bd21-083397957efa #m-74feddf2-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-74feddf2-877d-47cd-bd21-083397957efa #m-74feddf2-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-74feddf2-877d-47cd-bd21-083397957efa.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}