#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_bottom {
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Ulevaade {
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Ulevaade_1 {
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Ulevaade_2 {
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Ulevaade_3 {
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Ulevaade_4 {
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Line_1 {
  stroke-width: 1px;
  stroke: #161616;
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Line_1 {
  stroke-width: 1px;
  stroke: #161616;
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b #m-95493115-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#m-95493115-2bef-460b-8074-09062c30e43b.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}